<h1> Las peliculas disponibles: </h1> 
<% @movies.each do |movie| %>

<p> Nombre: <%= movie.nombre %> </p>
<p> Fecha de estreno: <%= movie.fecha_public %> </p>
<p> genero: <%= movie.genero %> </p>
<p> duracion en minutos: <%= movie.duracion %> </p>

<% end %>