
<p style="color: green"><%= notice %></p>

<% content_for :title, "Libros" %>

<h1>Libros</h1>

<div id="libros">
  <table border 1px>
  
  <% @libros.each do |libro| %>
    <%= render libro %>
    <p >
      </p> 
  <% end %>
</div>
    
  </table>
  
