
<p style="color: green"><%= notice %></p>

<% content_for :title, "Libros" %>

<h1>Libros</h1>

<div id="libros">
  <table border 1px>
  
  <% @libros.each do |libro| %>
    <%= render libro %>
    <p >
      <%= link_to "Show this libro", libro %>
    </p> 
  <% end %>
</div>
    
  </table>
  
